<div class="row">
  <div class="col-xxl"></div>
  <div class="col-xxl-8">
    <form (ngSubmit)="search()" #searchForm="ngForm" class="search-mask">
      <div id="main-search" class="row">
        <div class="col mb-2 me-1 w-100">
          <label for="company_name" class="form-label">Unternehmen</label>
          <input type="text" [(ngModel)]="searchFields.company_name" #company_name="ngModel" 
            class="form-control" id="company-input" name="company_name">
        </div>
      </div>
      <div id="additional-search">
        <div class="row">
          <div class="col w-50 mb-2 me-1">
            <label for="street_name" class="form-label">Straße</label>
            <input type="text" [(ngModel)]="searchFields.street_name" #street_name="ngModel" 
              class="form-control" id="street-input" name="street_name">
          </div>
          <div class="col w-50 mb-2 me-1">
            <label for="country" class="form-label">Land</label>
            <input type="text" [(ngModel)]="searchFields.country" #country="ngModel" 
              class="form-control" id="country-input" name="country">
          </div>
        </div>
        <div class="row">
          <div class="col w-100 mb-3">
            <label for="city_postcode" class="form-label">PLZ</label>
            <input type="text" [(ngModel)]="searchFields.city_postcode" #city_postcode="ngModel" 
              class="form-control" id="city-postcode-input" name="city_postcode">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <button class="col btn btn-primary" type="submit">Suchen</button>
        <div class="col"></div>
      </div>
    </form>
  </div>
  <div class="col-xxl"></div>
</div>
@if(searchFields.page != undefined) {
  <div class="row mt-2">
    <div class="col-xl"></div>
    <div class="col-xl">
      @if(searchFields.page.lastPage > 1) {
        <div class="row page-changer">
          <div class="col"></div>
          <div class="col btn-group" role="group">
            <button type="button" [attr.disabled]="searchFields.page.firstPage >= searchFields.page.page ? true : null" 
                class="btn btn-primary" (click)="changePage(searchFields.page.firstPage)">
              <i class="bi bi-chevron-double-left"></i>
            </button>
            <button type="button" [attr.disabled]="searchFields.page.firstPage >= searchFields.page.page ? true : null" 
                class="btn btn-primary" (click)="changePage(searchFields.page.page-1)">
              <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" disabled="true" class="btn btn-primary">{{ searchFields.page.page }}</button>
            <button type="button" [attr.disabled]="searchFields.page.lastPage <= searchFields.page.page ? true : null" 
                class="btn btn-primary" (click)="changePage(searchFields.page.page+1)">
              <i class="bi bi-chevron-right"></i>
            </button>
            <button type="button" [attr.disabled]="searchFields.page.lastPage <= searchFields.page.page ? true : null" 
                class="btn btn-primary" (click)="changePage(searchFields.page.lastPage)">
              <i class="bi bi-chevron-double-right"></i>
            </button>
          </div>
          <div class="col"></div>
        </div>
      }
      <div id="search-results w-100">
        <table class="table table-results">
          <thead>
            <tr>
              <th (click)="changeSort(sortObj.COMPANY)">
                Unternehmen
                @if(searchFields.sortBy == sortObj.COMPANY) {
                  @if(searchFields.sortDescending) {
                    <i class="bi bi-chevron-down"></i>
                  } @else {
                    <i class="bi bi-chevron-up"></i>
                  }
                }
              </th>
              <th (click)="changeSort(sortObj.STREET)">
                Straße
                @if(searchFields.sortBy == sortObj.STREET) {
                  @if(searchFields.sortDescending) {
                    <i class="bi bi-chevron-down"></i>
                  } @else {
                    <i class="bi bi-chevron-up"></i>
                  }
                }
              </th>
              <th (click)="changeSort(sortObj.CITY)">
                (PLZ) Stadt
                @if(searchFields.sortBy == sortObj.CITY) {
                  @if(searchFields.sortDescending) {
                    <i class="bi bi-chevron-down"></i>
                  } @else {
                    <i class="bi bi-chevron-up"></i>
                  }
                }
              </th>
              <th (click)="changeSort(sortObj.COUNTRY)">
                Land
                @if(searchFields.sortBy == sortObj.COUNTRY) {
                  @if(searchFields.sortDescending) {
                    <i class="bi bi-chevron-down"></i>
                  } @else {
                    <i class="bi bi-chevron-up"></i>
                  }
                }
              </th>
            </tr>
          </thead>
          <tbody class="result-body">
            @for (companyObj of searchFields.results; track companyObj.id; let idx = $index) {
              <tr class="table-row">
                <td class="table-field">{{ companyObj.name }}</td>
                <td class="table-field">{{ companyObj.street }} {{ companyObj.streetNumber }}</td>
                <td class="table-field">{{ companyObj.postcode }} {{ companyObj.city }}</td>
                <td class="table-field">{{ companyObj.country }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xl"></div>
  </div>
}