$primary-color: #5469ac;

.table-results tr:nth-child(even) {
    background-color: #0000000e!important;
}
.table-field {
    background-color: inherit;
    border-width: 0;
    color: #fff;
    white-space: nowrap;
}
.table-results {
    max-width: 1200px;
    border-radius: 10px;
    background-color: $primary-color;
}
.btn-primary {
    background-color: $primary-color;
}
.search-mask {
    border-color: $primary-color;
    border-width: 1px;
    border-style: solid;
    padding: 20px 40px;
    margin: 10px;
}
